body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 20px;
}

canvas {
    max-width: 1100px;
    margin: 25px auto;
    background: #222;
    padding: 10px;
    border-radius: 10px;
}
